.itemList{
    margin-top: 3rem;
    box-shadow: 1px 4px 7px gray;
}
.itemsHeading{
    display: flex;
    flex-direction: row;
    background-color: #bb8ac7;
    justify-content: space-around;
    .itemHeadingInternalDiv{
        width: 100%;
        text-align: center;
    }
    h3{
        color: white;
    }
}